<!doctype html>
<html lang="en" <% if (includeAngular) { %>ng-app="<%= appName %>"<% } %>>
<head>
  <meta charset="UTF-8">
  <title><%= appName %></title><% if (includeNormalizeCss) { %>
  <link rel="stylesheet" href="lib/normalize.css/normalize.css"><% } %>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="styles/<% if (includeScss) { %>css/<% } %>main.css">
</head>
<body>
  <% if (includeAngular) { %><script src="lib/angular/angular.js"></script><% }%>
  <% if (includeLodash) { %>  <script src="lib/lodash/dist/lodash.compat.js"></script><% }%>
  <!-- bower:js -->
  <!-- endbower -->
  <script src="scripts/main.js"></script>
</body>
</html>
