<!doctype html>
<html lang="en" <% if (includeAngular) { %>ng-app="<%= appName %>"<% } %>>
<head>
  <meta charset="UTF-8">
  <title><%= appName %></title><% if (!includeScss) { %>
  <!-- bower:css -->
  <!-- endbower --><% } %>
  <link rel="stylesheet" href="styles/<% if (includeScss) { %>css/<% } %>main.css">
</head>
<body>
  <!-- bower:js -->
  <!-- endbower --><% if (includeAngular) { %>
  <script src="lib/angular/angular.js"></script><% }%><% if (includeLodash) { %>
  <script src="lib/lodash/dist/lodash.compat.js"></script><% }%>
  <script src="scripts/main.js"></script>
</body>
</html>
